@media (max-width: 768px) {
  .box {
    width: 100%;
    height: 50px;
  }
  .left {
    text-align: center;
  }
  .box-section {
    flex-wrap: wrap;
  }
  .inner-box {
    width: 42%;
  }
}
@media (max-width: 425px) {
  .inner-box {
    width: 95%;
  }
}
