/*---------- basic styles ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 80%;
  height: inherit;
  margin: auto;
}
.heading {
  padding: 10px 0;
}
.head {
  height: 6%;
  background-color: lightgray;
  padding: 5px;
}
.img1 {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.img2 {
  width: 100%;
  height: 35%;
  object-fit: cover;
}

.button-cnn {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: 1px solid wheat;
  border-radius: 10px;
}
.img-cnn {
  /* width: vh; */
  height: 40px;
  object-fit: cover;
}
h1:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}
h2:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}
h3:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}
h4:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}
h5:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}
h6:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}
p:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}
li:hover {
  color: rgb(182, 11, 11);
  cursor: pointer;
}

/*------------- typography ------------*/

.red {
  color: rgb(212, 10, 10);
}
h3 {
  margin: 7px 0;
}
hr {
  margin: 10px 0;
}
body {
  position: relative;
}

/*---------- top-bar ----------*/

.top-bar {
  width: 100%;
  height: 40px;
  background-color: black;
  padding: 0 5%;
  display: flex;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
.top-bar .box {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0 17px;
}

.top-bar ul {
  list-style: none;
  margin: 0 10px;
  display: flex;
  gap: 0 20px;
  justify-content: space-between;
}

.top-bar .right {
  justify-content: flex-end;
}
.top-bar .fa-icon {
  font-size: 25px;
}

/*----------- down-bar ----------*/

.down-bar {
  width: 100%;
  height: 60px;
  padding: 30px 0;
}
.down-bar li {
  list-style: none;
  float: left;
  margin: 15px 5px;
  color: black;
  font-size: 15px;
  font-weight: 1000px;
}

/*----------- trending -----------*/

.trending {
  width: 100%;
  margin: 40px 0;
}
.trending .box {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 100vh;
  grid-gap: 15px;
}
.trending .innerbox {
  padding: 10px 0;
  position: relative;
  z-index: -1;
}
/* .trending .update {
  width: 25%;
  height: 42px;
  background-color: rgb(180, 7, 7);
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  position: absolute;
  bottom: 140px;
} */

/*---------------- news ----------*/

.news {
  width: 100%;
  margin: 10px 0;
}
.news .box {
  width: 100%;
  height: inherit;
  margin: 10px 0;
  /* padding: 10px 0; */

  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: repeat(2, 50%);
  grid-gap: 15px;
}
/* .news .innerbox {
  margin: 10px;
} */

.news .headlines {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  grid-template-rows: repeat(2, 100px);
  grid-gap: 10px 0;
}
.news .img {
  width: 100%;
  height: 100%;
}
.news .text {
  padding: 5px 0 0 5px;
}
.news .spotlight {
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-template-rows: repeat(3, 80px);
  grid-gap: 10px;
}

/*---------- featured -----------*/
.featured {
  width: 100%;
  padding: 10px 0;
}
.featured .box {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}
.featured .innerbox {
}
.featured .img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

/*---------------- watch ---------------*/

.watch {
  width: 100%;
  padding: 20px;
}
.watch .box {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(2, 35%);
  row-gap: 18vh;
  column-gap: 2%;
}
.watch .innerbox {
  position: relative;
  z-index: -1;
}
.watch .position {
  width: 80%;
  height: 40%;
  position: absolute;
  bottom: -60px;
  left: 10%;
  background-color: rgb(129, 124, 124);
  text-align: center;
  padding: 10px;
  overflow: hidden;
}
.watch .img {
  width: 100%;
  height: 100%;
}

/*-------------- photos ---------------*/

.photos {
  width: 100%;
}
.photos .box {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 20px;
}
.photos .innerbox {
}
.photos .img {
  width: 100%;
  height: 150px;
}

/*--------------- paid --------------------*/

.paid {
  width: 100%;
  padding: 50px 0;
}
.paid .box {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50vh;
  grid-gap: 25px;
}

.paid .img {
  width: 100%;
  height: 65%;
}

/*--------------- missed ---------------*/

.missed {
  width: 100%;
  background-color: rgb(33, 32, 32);
  color: white;
}
.missed .box {
  height: inherit;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: repeat(2, 30%);
  grid-gap: 100px 10px;
}
.missed .item1 {
  grid-row: 1/3;
}
.missed .img {
  width: 100%;
  height: 100%;
}

/*--------------- footer --------------*/

.footer {
  padding: 4%;
  background-color: black;
  color: white;
}
.footer .input {
  width: 100%;
  margin: 10px 0 30px;
  padding: 7px;
  border: none;
}

/*--------------- links ----------------*/

.links {
  width: 100%;
}
.links .box {
  height: inherit;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.links .innerbox {
  width: 12%;
}
.links li {
  padding: 2.7px 0;
  list-style: none;
}
.links h4 {
  padding: 10px 0;
}

/*-------------- endbar -------------*/
.endbar {
  width: 100%;
  /* height: 70px; */
  display: flex;
  color: white;
  margin: 20px 0;
}
.endbar .box {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  gap: 30px;
}
.endbar .right {
  justify-content: end;
}

/*------------- privacy ---------------*/

.privacy {
  width: 100%;
}
.privacy .box {
  height: inherit;
  padding: 10px 0;
}
.privacy ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

/*-------------- copyright --------------*/

.copyright {
  width: 100%;
  height: 90px;
}
.copyright .box {
  padding: 40px 0;
}
